<div class="book-summary">
    <div id="book-search-input" role="search">
        <input type="text" placeholder="Type to search" />
    </div>
    <nav role="navigation">
        <ul class="summary">
          <!-- 1. 현재 화면이 root / index 화면에 있을 때 : index 와 카테고리 리스트만 보여줌  -->
            {% if page.url == "/index.html" or page.url == "/" %}
              <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
                <a href="{{site.baseurl}}/">
                  {{ "MAIN CONTENTS" | escape }}
                </a>
                </li>
                <li class="divider"></li>

              {% assign reversed_posts = site.posts | reverse %}
              {% for post in reversed_posts %}
                {% if post.category == "List" %}
                  <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                  <a href="{{site.baseurl}}{{post.url}}">
                    {{ post.title | escape }}
                  </a>
                  </li>
                {% endif %}
              {% endfor %}

            <!-- 2. 현재 화면이 List 중 하나일때 -> root 항목 비활성화 -->
            {% else %}
              <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
                <a href="{{site.baseurl}}/">
                    {{ "MAIN CONTENTS" | escape }}
                </a>
              </li>
              <li class="divider"></li>
              <!-- 2.1 현재 화면이 List 중 하나일때 -> 해당 list 항목 활성화 및 세부 리스트 비활설화로 표시 -->
              {% assign reversed_posts = site.posts | reverse %}
              {% for post in reversed_posts %}
                {% if page.url == "/list/rustfromscratch.html" %}
                  {% if post.url == "/list/rustfromscratch.html"%}
                    <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                    <a href="{{site.baseurl}}{{post.url}}">
                        {{ post.title | escape }}
                    </a>
                    </li>
                    <li class="divider"></li>
                    <li class="divider"></li>
                  {% endif %}
                  {% if post.category == "Rust from Scratch" %}
                    <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                    <a href="{{site.baseurl}}{{post.url}}">
                      {{ post.title | escape }}
                    </a>
                    </li>
                  {% endif %}
                {% endif %}


                {% if page.url == "/list/generalknowledge.html" %}
                  {% if post.url == "/list/generalknowledge.html"%}
                    <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                    <a href="{{site.baseurl}}{{post.url}}">
                        {{ post.title | escape }}
                    </a>
                    </li>
                    <li class="divider"></li>
                    <li class="divider"></li>
                  {% endif %}
                  {% if post.category == "General Knowledge for Programming" %}
                    <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                    <a href="{{site.baseurl}}{{post.url}}">
                      {{ post.title | escape }}
                    </a>
                    </li>
                  {% endif %}
                {% endif %}

                {% if page.url == "/list/toyprojects.html" %}
                  {% if post.url == "/list/toyprojects.html"%}
                    <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                    <a href="{{site.baseurl}}{{post.url}}">
                        {{ post.title | escape }}
                    </a>
                    </li>
                    <li class="divider"></li>
                    <li class="divider"></li>
                  {% endif %}
                  {% if post.category == "Toy Projects" %}
                    <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                      <a href="{{site.baseurl}}{{post.url}}">
                        {{ post.title | escape }}
                      </a>
                  {% endif %}
                {% endif %}

                {% if page.url == "/list/problemsolving.html" %}
                  {% if post.url == "/list/problemsolving.html"%}
                    <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                    <a href="{{site.baseurl}}{{post.url}}">
                        {{ post.title | escape }}
                    </a>
                    </li>
                    <li class="divider"></li>
                    <li class="divider"></li>
                  {% endif %}
                  {% if post.category == "Problem Solving" %}
                    <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                    <a href="{{site.baseurl}}{{post.url}}">
                      {{ post.title | escape }}
                    </a>
                    </li>
                  {% endif %}
                {% endif %}

                {% if page.url == "/list/others.html" %}
                  {% if post.url == "/list/others.html"%}
                    <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                    <a href="{{site.baseurl}}{{post.url}}">
                      {{ post.title | escape }}
                    </a>
                    </li>
                    <li class="divider"></li>
                    <li class="divider"></li>
                  {% endif %}
                  {% if post.category == "Others" %}
                    <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                    <a href="{{site.baseurl}}{{post.url}}">
                      {{ post.title | escape }}
                    </a>
                    </li>
                  {% endif %}
                {% endif %}

                <!-- 3. 현재 페이지가 세부 항목 중 하나 일 때 : List 항목 비활성화, 세부항목 활성화 및 toc 활성화-->
                {% if page.category == "Rust from Scratch" %}
                  {% if post.url == "/list/rustfromscratch.html"%}
                    <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                    <a href="{{site.baseurl}}{{post.url}}">
                      {{ post.title | escape }}
                    </a>
                    </li>
                    <li class="divider"></li>
                    <li class="divider"></li>
                  {% endif %}
                  {% if post.category == "Rust from Scratch" %}
                    {% if post.url == page.url %}
                      <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                      <a href="{{site.baseurl}}{{post.url}}">
                        {{ post.title | escape }}
                      </a>
                      </li>
                      {% if site.toc.enabled %}
                        {% if page.url == post.url %}
                          {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                        {% endif %}
                      {% endif %}
                    {% else %}
                      <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                      <a href="{{site.baseurl}}{{post.url}}">
                        {{ post.title | escape }}
                      </a>
                      </li>
                    {% endif %}
                  {% endif %}
                {% endif %}

                {% if page.category == "General Knowledge for Programming" %}
                  {% if post.url == "/list/generalknowledge.html"%}
                    <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                    <a href="{{site.baseurl}}{{post.url}}">
                      {{ post.title | escape }}
                    </a>
                    </li>
                    <li class="divider"></li>
                    <li class="divider"></li>
                  {% endif %}
                  {% if post.category == "General Knowledge for Programming" %}
                    {% if post.url == page.url %}
                      <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                      <a href="{{site.baseurl}}{{post.url}}">
                        {{ post.title | escape }}
                      </a>
                      </li>
                      {% if site.toc.enabled %}
                        {% if page.url == post.url %}
                          {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                        {% endif %}
                      {% endif %}
                    {% else %}
                      <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                      <a href="{{site.baseurl}}{{post.url}}">
                        {{ post.title | escape }}
                      </a>
                      </li>
                    {% endif %}
                  {% endif %}
                {% endif %}

                {% if page.category == "Toy Projects" %}
                  {% if post.url == "/list/toyprojects.html"%}
                    <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                    <a href="{{site.baseurl}}{{post.url}}">
                      {{ post.title | escape }}
                    </a>
                    </li>
                    <li class="divider"></li>
                    <li class="divider"></li>
                  {% endif %}
                  {% if post.category == "Toy Projects" %}
                    {% if post.url == page.url %}
                      <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                      <a href="{{site.baseurl}}{{post.url}}">
                        {{ post.title | escape }}
                      </a>
                      </li>
                      {% if site.toc.enabled %}
                        {% if page.url == post.url %}
                          {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                        {% endif %}
                      {% endif %}
                    {% else %}
                      <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                      <a href="{{site.baseurl}}{{post.url}}">
                        {{ post.title | escape }}
                      </a>
                      </li>
                    {% endif %}
                  {% endif %}
                {% endif %}

                {% if page.category == "Problem Solving" %}
                  {% if post.url == "/list/problemsolving.html"%}
                    <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                    <a href="{{site.baseurl}}{{post.url}}">
                      {{ post.title | escape }}
                    </a>
                    </li>
                    <li class="divider"></li>
                    <li class="divider"></li>
                  {% endif %}
                  {% if post.category == "Problem Solving" %}
                    {% if post.url == page.url %}
                      <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                      <a href="{{site.baseurl}}{{post.url}}">
                        {{ post.title | escape }}
                      </a>
                      </li>
                      {% if site.toc.enabled %}
                        {% if page.url == post.url %}
                          {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                        {% endif %}
                      {% endif %}
                    {% else %}
                      <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                      <a href="{{site.baseurl}}{{post.url}}">
                        {{ post.title | escape }}
                      </a>
                      </li>
                    {% endif %}
                  {% endif %}
                {% endif %}

                {% if page.category == "Others" %}
                  {% if post.url == "/list/others.html"%}
                    <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                    <a href="{{site.baseurl}}{{post.url}}">
                      {{ post.title | escape }}
                    </a>
                    </li>
                    <li class="divider"></li>
                    <li class="divider"></li>
                  {% endif %}
                  {% if post.category == "Others" %}
                    {% if post.url == page.url %}
                      <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                      <a href="{{site.baseurl}}{{post.url}}">
                        {{ post.title | escape }}
                      </a>
                      </li>
                      {% if site.toc.enabled %}
                        {% if page.url == post.url %}
                          {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                        {% endif %}
                      {% endif %}
                    {% else %}
                      <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                      <a href="{{site.baseurl}}{{post.url}}">
                        {{ post.title | escape }}
                      </a>
                      </li>
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endif %}

        </ul>
    </nav>
</div>
